@import '../../../slyle/variables.scss';

.activity{
    h5{
        @extend %h5;
        color: $black-color;
        padding: 24px 0 18px 24px;
    }
    &__table{
        max-width: 1110px;
        margin: 0;
        .table_header{
            .first{
                padding-left: 24px
            }
        }
        th{
            @extend %subtitle2;
            padding: 18px 0;
            text-align: left;
        }
        /*.clientTable{
            //padding-right: 24px;
            td{
                @extend %body2;
                color: $gray-dark;
                max-width: 100%;
                height: 56px;
                border-top: 1px solid $divider;
        
                &:nth-child(1){
                    p {
                        width: 180px;
                    }
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    gap: 12px;
                    margin: 0 auto;
                    padding: 12px 0 12px 24px;
                    border-top: 1px solid $divider;
                }
                &:nth-child(2){
                    width: 195px;
                    border-top: 1px solid $divider;
                }
                &:nth-child(3){
                    width: 144px;
                    padding: 0 24px;
                    border-top: 1px solid $divider;
                }
                &:nth-child(4){
                    width: 105px;
                    border-top: 1px solid $divider;
                }
                &:nth-child(5){
                    width: 170px;
                    padding: 0 24px;
                    border-top: 1px solid $divider;
                }
                &:nth-child(6){
                    width: 130px;
                    border-top: 1px solid $divider;
                }
                &:nth-child(7){
                    width: 80px;
                    padding-left: 24px;
                    img{
                        padding: 0 5px;
                    }
                    border-top: 1px solid $divider;
                }
            }
        }*/
    }
}